# Ignore build/config files
build/ref
cnf/config.yml
cnf/settings.php

# Ignore everything in htdocs dir
htdocs/*
# Don't ignore necessary parent dirs and files
!htdocs/sites
!htdocs/sites/default
!htdocs/sites/default/settings.php
!htdocs/sites/all
# But ignore contrib and libraries
htdocs/sites/all/modules/contrib
htdocs/sites/all/themes/contrib
htdocs/sites/all/libraries

# Ignore local settings file
htdocs/sites/default/settings.local.php

# Ignore Composer vendor dir
vendor

# Ignore env file
.env

# Ignore system/cache files
.DS_Store
.bundle
.ruby-version
.sass-cache
